.container{
    min-width: 25vw;
    min-height: 60vh;
}

.container__item{
    padding: 10px;
   display: flex;
    justify-content: space-around;
    align-items: center;
    border: #e5e5e5 solid 1px;
    box-shadow: 10px 10px 5px 0px rgba(229,229,229,1);
}

.container__image{
    max-width: 75%;
    min-width: none;
}

.container__description{
    max-width: 50% ;
    max-height: 80%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 10px;
    
    
}

.container__summary{
    display:flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.button__checkout__cart{
    text-decoration: none;
    font-size: 14px;
    
    color: #e5e5e5;
}

.button__checkout, .container__checkout{
    border: 1px #724293 solid;
    background-color: #724293;
    width: 200px;
    border-radius: 8px;
    margin: 10px;
    color: #e5e5e5;
}

.container__checkout{
    text-align: center;
}


.button__checkout__cart_a{
    color: #5e5e5e;
    text-decoration: none;
    margin-left: 15px;
}

.button__checkout:hover,
.container__checkout:hover {
background-color: #3f1a58;

}

.button__checkout__cart_a:hover{
    color: #000;
    text-decoration: underline;
    
}
